.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  overflow: hidden;
  max-height: 700px;

  button {
    align-self: flex-start;
  }

  @media (max-width: 890px) {
    overflow: visible;
    max-height: none;
  }
}
