$primary-abyssal-dark: #01080e;
$primary-deep-blue: #011627;
$primary-midnight: #011221;

$secoundary-steel-blue: #607b96;
$secoundary-emerald: #3c9d93;
$secoundary-blue-velvet: #4d5bce;

$secoundary-white: #ffffff;

$accent-coral: #fea55f;
$accent-aqua-serenity: #43d9ad;
$accent-coral-blush: #e99287;
$accent-purple: #c98bdf;

$lines: #1e2d3d;

$gradient-blue-velvet: #4d5bce;
$gradient-aqua-serenity: #43d9ad;
