$primary-abyssal-dark: #01080e;
$primary-deep-blue: #0f172b;
$primary-midnight: #011221;

$secoundary-steel-blue: #90a1b9;
$secoundary-emerald: #3c9d93;

$blue-velvet: #4d5bce;
$white: #ffffff;

$accent-coral: #fea55f;
$accent-aqua-serenity: #43d9ad;
$accent-coral-blush: #e99287;
$accent-purple: #c98bdf;

$lines: #1e2d3d;

$gradient-aqua-serenity: #43d9ad;
