@use '../../styles/variables';

.contact-container {
  width: 100%;

  @media (max-width: 890px) {
    overflow: scroll;
  }

  .decorator-contact {
    width: stretch;
    min-height: 42.33px;
    border-right: 1px solid variables.$lines !important;
    border-bottom: 1px solid variables.$lines;

    .decorator-content {
      @media (min-width: 890px) {
        display: none;
      }
    }

    @media (max-width: 890px) {
      border-left: 1px solid variables.$lines !important;
      border: none;
    }
  }
}

.h-stack {
  display: flex;
  flex-direction: row;
  width: stretch;
}

.ul-sidebar {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 312px;
  padding: 0.75rem 0.75rem;
}

.contact {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 100%;

  code {
    white-space: pre-wrap;
  }

  .esq {
    width: stretch;
    border-right: 1px solid variables.$lines !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: stretch;

    form {
      width: 70%;
    }
  }

  .dir {
    width: stretch;
    border-right: 1px solid variables.$lines !important;
  }

  @media (max-width: 1239px) {
    flex-direction: column;

    display: flex;

    border-right: 1px solid variables.$lines !important;

    .esq {
      height: stretch;
      border-bottom: none !important;
      border-right: none !important;
    }

    .dir {
      display: none;
    }
  }

  @media (max-width: 890px) {
    border-left: 1px solid variables.$lines !important;
  }

  @media (max-width: 500px) {
    .esq {
      form {
        max-width: none;
        width: 100%;
        padding: 3rem;
      }
    }
  }
}
