@use '../../styles/variables';

.h-stack {
  display: flex;
  flex-direction: row;
  width: stretch;
}

.ul-sidebar {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 312px;
  padding: 0.75rem 0.75rem;
}

.contact {
  display: flex;
  height: 100%;
  width: 100%;
  code {
    white-space: pre-wrap;
  }

  .esq {
    width: stretch;
    border-right: 1px solid variables.$lines !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    form {
      width: 70%;
    }
  }

  .dir {
    width: stretch;
    border-right: 1px solid variables.$lines !important;
  }

  @media (max-width: 1239px) {
    flex-direction: column;
    overflow: scroll;

    display: flex;
    justify-content: center;
    align-items: center;

    border-right: 1px solid variables.$lines !important;

    .esq {
      border-bottom: none !important;
      border-right: none !important;
    }

    .dir {
      display: none;
    }
  }

  @media (max-width: 500px) {
    .esq {
      form {
        max-width: none;
        width: 100%;
        padding: 3rem;
      }
    }
  }
}
