@use '../../styles/variables';

.h-stack {
  display: flex;
  flex-direction: row;
  width: stretch;
}

.ul-sidebar {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 312px;
  padding: 0.75rem 0.75rem;
}

.contact {
  display: flex;
  height: 100%;
  width: stretch;
  code {
    white-space: pre-wrap;
  }

  .esq {
    max-width: 632px;
    width: stretch;
    border-right: 1px solid variables.$lines !important;
  }

  .dir {
    width: stretch;
    border-right: 1px solid variables.$lines !important;
  }
}
