@use '../../styles/variables';

.collapse-container {
  &.-open {
    border-bottom: 1px solid variables.$lines !important;
  }
}

.collapse-content {
  display: flex;

  li {
    list-style: none;
    margin-bottom: 10px;

    :hover {
      color: #f8fafc;
    }
  }
}

.collapse-button {
  width: stretch;
  background-color: transparent;
  border-style: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 12px 28px;
  min-height: 42px;
  border-bottom: 1px solid variables.$lines;

  .collapse-icon {
    display: flex;
    align-items: center;
  }

  .collapse-title {
    display: inline-flex;
    align-items: center;
    margin-left: 16px;

    &.-open {
      color: #f8fafc;
    }
  }

  :hover {
    color: #f8fafc;
  }

  @media (max-width: 890px) {
    width: stretch;
    background-color: variables.$lines;

    .collapse-title {
      color: #f8fafc;
    }
  }
}
