@use '../../styles/variables';

.collapse-container {
  &.-open {
    border-bottom: 1px solid variables.$lines !important;
  }
}

.collapse-content {
  display: flex;

  li {
    list-style: none;
    margin-bottom: 10px;

    :hover {
      color: #f8fafc;
    }
  }
}

.collapse-button {
  width: calc(
    variables.$side-bar-width - 2px
  ); // -2px para diminuir a soma das bordas laterais
  background-color: transparent;
  border-style: none;
  display: flex;
  cursor: pointer;
  padding: 12px 28px;
  border-bottom: 1px solid variables.$lines;

  .collapse-title {
    margin-left: 16px;

    &.-open {
      color: #f8fafc;
    }
  }

  :hover {
    color: #f8fafc;
  }

  @media (max-width: 890px) {
    width: stretch;
  }
}
