@use '../styles/variables';

.hello-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;

  padding: 100px;

  .esq {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 475px;

    .top {
      margin-bottom: 5rem;

      .greeting {
        color: variables.$white;
        font-size: calc(variables.$typography-label + 2px);
      }

      .name {
        font-size: variables.$typography-headline-text * 2;
        color: variables.$white;
        font-weight: normal;
      }

      .job {
        color: variables.$blue-velvet;
        font-size: variables.$typography-headline-text;
      }
    }

    .bottom {
      p:nth-child(n) {
        margin-bottom: 5px;
      }
    }
  }

  @media screen and (max-width: 1215px) {
    display: grid;

    .dir .esq {
      width: 100%;
    }
  }
}
