@use '../../styles/variables';

.sidebar {
  width: variables.$side-bar-width - 1px;
  border-right: 1px solid variables.$lines;
  display: flex;
  flex-direction: column;

  @media (max-width: 890px) {
    display: none;
  }
}
